<style>
  .btn-search{
    border: none;
    border-radius: 25px;
    background-color:  #64391d;
    color: #fff;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover{
    background-color: #8B5E3C;
    color: #fff;
  }
  .btn-search i{
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }
  .navbar-nav{
    font-size: 1.1rem;
     font-weight: 500; 
     color: black; 
     transition: opacity 0.3s;
  }
</style>

<!-- <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top"> -->
  <nav class="navbar navbar-expand-md bg-body-light sticky-top" style="font-family: 'Georgia', serif; padding: 10px; box-shadow: none; border-bottom: none;">
    <div class="container-fluid ">
      <img href="/" class="logo ml-3 mt-1" src="https://i.postimg.cc/qqswJHxG/Brown-Minimalist-Coffee-Shop-Logo-4.png" alt=""  style="border-radius: 50%; width: 80px; height: 80px;"> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mt-2" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
        
          <a class="nav-link ml-4 mr-2" href="/listings">Home</a>
          <a class="nav-link mr-2" href="/listings/menu">Menu</a>
          <a class="nav-link mr-2" href="/listings/location">Hours&Location</a>
          <a class="nav-link mr-2" href="/listings/order">Order Now</a>
          <a class="nav-link mr-2" href="/listings/store">Store</a>
         
          
          
          
        </div>

        <div class="navbar-nav ms-4">
        <form class="d-flex mr-0" role="search">
          <input class="form-control me-1 search-inp" type="search" placeholder= "Search for your perfect cup..." aria-label="Search">
          <button class="btn-search me-5" type="submit">
         Search</button>
        </form>
      </div>
     
      
      
      
      <div class="navbar-nav ms-auto">
          <a class="nav-link mr-3 " style="font-size: larger;" href="/listings/cart"><i class="fa-solid fa-cart-shopping"></i></a>
          

           <% if (typeof isLoggedIn !== 'undefined' && isLoggedIn) { %>
            
              <a class="nav-link mr-2" style="color: #fff;"  href="/logout"><b> Log Out </b></a>
         <% } else { %>
            <a class="nav-link mr-2" href="/login"><b>Log in</b></a>
            <a class="nav-link mr-2" href="/signup"><b>Sign up</b></a>
         <% } %>

          
        </div>
      </div>
    </div>
  </nav>


<!-- Add CSS for the active opacity change -->
<style>
  .navbar-nav .nav-link:active {
    opacity: 0.6; /* Adjust opacity when clicked */
  }
  .navbar.sticky-top {
    border-bottom: none !important; /* Remove the bottom border when sticky */
  }
</style>




